#biografia {
    padding: 100px 0 0 0;
    background-color: #f1f1f1;
    height: auto;
    width: 100%;
    display: inline-block;
}

#biografia span, .texto-embaixo {
    font-size: 1.1em;
    line-height: 130%;
    text-align: justify;
} /* FORMATACAO DOS TEXTOS */

#biografia img {
    border-radius: 16px;
}

.bio-texto0 {
    display: flex;
    margin-right: 20px;
}

.bio-texto0 img{
    margin: 0 0 0 20px;
    height: 350px;
}

.bio-texto0 span{
    padding-left: 20px;
}

.texto-embaixo{
    padding: 20px 20px 5px;
}

/* primeiro bloco de texto */

.bio-texto1 {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 20px 20px 20px;
}

.bio-texto1 span {
    padding-right: 20px;
} /* SEGUNDO BLOCO DE TEXTO */

.bio-texto2 img{
    height: 460px;
    width: 62%;
}

.bio-texto2 {
    display: flex;
    margin: 20px 20px;
}

.bio-texto2 span {
    margin-top: 15px;
    padding-left: 20px;
} /* TERCEIRO BLOCO DE TEXTO */
