#contato {
    padding: 0;
    margin: 0;
    background-color: #303030;
}

.form {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    padding-bottom: 20px;
}

.form-section, .info-section {
    width: 43%;
    padding: 40px ;
    background-color: #f1f1f1;
    border-radius: 8px;
}

.form-section {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #303030;
    margin: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #303030;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 9px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input::placeholder,
textarea::placeholder {
    color: #a1a1a1;
}

button {
    width: 100%;
    padding: 10px;
    background-color:#222222;
    color: #bdbebd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

button:hover {
    background-color: #303030;
}

/* FIM DO DIV CONTATO  */
.info-section h1 {
    color: #303030;
}

.info-section ul {
    list-style-type: none;
    padding: 50px 0;
}

.info-section ul li {
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 100;
}

.info-section ul li a {
    text-decoration: none;
    color: #303030;
    position: relative;
    display: inline-block;
}

.info-section ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #303030;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.info-section ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.info-section span {
    font-size: 20px;
    font-weight: bold;
}

.info-section p {
    font-size: 20px;
    font-weight: 500;
    font-style: none;
}

.info-section a {
    text-decoration: none;
}
