
*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

body {
    background-color: #1c1c1c;
}

.imagem_fundo {
    justify-content: center;
    align-items: center;
    height: 750px;

    margin-left: 120px;
    margin-top: 0px;
    background-image: url(../img/alexandre.png);
    background-repeat: no-repeat;  
    background-size: cover;
    position: relative;

} /* imagem de fundo */

.texto_e_foto {
    background-color: #eaeaea;
    width: 100%;
    height: 1190px;
}

.texto_e_foto img {
    margin: 15px 10px;
    width: 55%;
    display: inline-block;
}

.texto_e_foto p {
    font-size: 1.1em;
    line-height: 130%;
    text-align: justify;
}

.texto_com_foto {
    height: 400px;
    width: 42%;
    margin: 262px 5px 15px;
    display: inline-block;
    position: absolute;
}

.texto {
    width: 92%;
    margin: -2px 90px 10px ;

}

